.MovieCard {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 1000px;
  margin: 40px auto;

  padding:20px;
  border-radius: 16px;

  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-height: 70vh;
  overflow-y: hidden;
}

.card-header h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    line-height: 0.5;
}

.bio{
    margin-top: 8px;
    margin-bottom: 1rem;
    color: #6a6c73;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 0.5;
}



.Movies-List{
    overflow-y: scroll;
    max-height: 30vh;
}

.All-Movies{
    display: flex;
    flex-direction: row;
    gap:12px;
    width: 100%;
}


.Favorite-Movies{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.no-favorites{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;    
    font-style: italic;
}

.Fliter-List{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Fav-Movies-List{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
    overflow: hidden;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
}

.Fav-Movie{
    padding: 4px 8px;
    border-radius: 12px;
    width: max-content;
    justify-content: center;
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: #eff0f2;
    margin: 0px;
}


.search-section{
    width: 100%;
    display: flex;
    gap: 1.7rem;
    justify-content: space-between;
}

.search-box{
    width: 100%;
    padding: 10px 16px;
    border: none;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    gap:6px;
    display: flex;
}

.lni{
    display: inline-block;
    font: normal normal normal 1em / 1 'Lineicons';
    color: inherit;
    flex-shrink: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    font-weight: 100;
}

.lni-xmark{
    color: #6a6c73;
    cursor: pointer;
}

.search-input{
    all: unset;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 100;
}

.reset-button{
    cursor: pointer;
    background-color: #2563ea;
    color: #fff;
    padding: 8.5px 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 7px;
}


.Movie-section h3{
    color: #6a6c73;
    margin: 1rem 0;
    font-weight: 600;
}