.MovieCard {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 1000px;
  margin: 40px auto;

  padding:20px;
  border-radius: 16px;

  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-height: 70vh;
  overflow-y: hidden;
}

.card-header h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    line-height: 0.5;
}

.bio{
    margin-top: 8px;
    margin-bottom: 2rem;
    color: #6a6c73;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 0.5;
}



.Movies-List{
    overflow-y: scroll;
    max-height: 30vh;
}

.All-Movies{
    display: flex;
    flex-direction: row;
    gap:12px;
    width: 100%;
}


.Favorite-Movies{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.no-favorites{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;    
    font-style: italic;
}

.Fliter-List{
    width: 50%;
    display: flex;
    flex-direction: column;
}