.dark{
    background-color: #111;
    color: #fff;
}

.light{
    background-color: #fff;
    color: #111;
}

.PortfolioCard-container{
    display: flex;
    justify-content: center;
    max-width: 420px;
    margin: 0;
    padding: 20px;
    min-height: 60vh;
    border-radius: 14px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.PortfolioCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
}


.Toogle-button{
    display: flex;
    justify-content: flex-end;
    margin: 12px 0 12px 0;   
}