.section{
    padding: 60px 0;
    background-color: #f9f9f9;
    text-align: center;

}

.section h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.section p{
    font-size: 1.2rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto 40px auto;

}

.section .section-content{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;

}


.section-title{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;

}

