body {
  margin: 0; /* removes default browser margin */
  background-color: whitesmoke;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* safer than height */
}